<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>CV {{ infos.prenom }} {{ infos.nom }} | {{ infos.poste }}</title>
  <link rel="stylesheet" href="ATS.css">
</head>
<body class={{body_class}}>
  <header>
    <h1>{{ infos.prenom }} {{ infos.nom }}</h1>
    <p class="job-title">{{ infos.poste }}</p>
    <div class="contact-info">
      {{ infos.ville }} | 
      {{ infos.tel }} | 
      <a href="mailto:{{ infos.email }}">{{ infos.email }}</a> | 
      {% if infos.autre != "❌ Non fourni" %}
        <a href="{{ infos.autre }}">Profil en ligne</a>
      {% endif %}
    </div>
  </header>

  <section>
    <h2>Résumé Professionnel</h2>
    <p>{{ infos.resume }}</p>
  </section>

  <section>
    <h2>Expérience Professionnelle</h2>
    {% for exp in experiences %}
    <div class="job">
      <div class="job-header">
        <span class="job-position">{{ exp.poste }}</span>
        <span class="job-company">- {{ exp.entreprise }}</span>
        <span class="job-date">{{ exp.date }}</span>
      </div>
      <ul class="job-details">
        <li>{{ exp.description }}</li>
        {% if exp.realisations %}
        <li class="achievements">Réalisations clés : {{ exp.realisations }}</li>
        {% endif %}
      </ul>
    </div>
    {% endfor %}
  </section>

  <section>
    <h2>Formation</h2>
    {% for edu in formations %}
    <div class="education">
      <div class="education-degree">{{ edu.diplome }}</div>
      <div class="education-school">{{ edu.etablissement }}</div>
      <div class="education-dates">{{ edu.date_debut }} - {{ edu.date_fin }} | {{ edu.lieu }}</div>
    </div>
    {% if not loop.last %}<hr class="separator">{% endif %}
    {% endfor %}
  </section>

  <section>
    <h2>Compétences Techniques</h2>
    <ul class="skills">
      {% for skill in competences %}
        <li>{{ skill.comp }}</li>
      {% endfor %}
    </ul>
  </section>
  
  <section>
    <h2>Langues</h2>
    <ul class="languages">
      {% for lang in langues %}
        <li>{{ lang.nom }} <span class="level">({{ lang.niveau }})</span></li>
      {% endfor %}
    </ul>
  </section>
</body>
        </html>
